@font-face {
    font-family: tungsten;
    src: url(assets/tungsten-font/Tungsten-Bold/Tungsten-Bold.ttf);
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #3c3a4c;
    
}

#headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f94555;
    width: 100%;
    margin: 0;
    top: 0;
}

#siteTitle {
    padding: 10px 40px;
    margin: 0;
    width: 25%;
    font-family: "tungsten";
    font-size: 50px;
    color: #3c3a4c;
}

#inputField {
    display: inline-flex;
    align-items: stretch;
    padding: 10px;
    margin: 0 50px;
}

#sizeInput {
    flex: 1;
    padding: 10px;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-radius: 20px 0 0 20px;
    border-color: #3c3a4c;
    background-color: #f8acb2;
    font-family: "tungsten";
    font-size: 30px;
    text-align: center;
    color: #3c3a4c;
}

#sizeInput:focus {
    outline: none;
}

#generateButton {
    flex: 1;
    border-style: solid;
    border-width: 4px;
    border-radius: 0 20px 20px 0;
    border-color: #3c3a4c;
    background-color: #f94555;
    font-family: "tungsten";
    font-size: 30px;
    color: #3c3a4c;
}

#generateButton:hover, #clearButton:hover {
    background-color: #ee2f3f;
}

#generateButton:active, #clearButton:active {
    background-color: #b61926;
}

#clearButton {
    flex: 1;
    padding: 10px;
    margin: 0 30px 0 80px;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: #3c3a4c;
    background-color: #f94555;
    font-family: "tungsten";
    font-size: 30px;
    color: #3c3a4c;
}

#drawWindow {
    height: 75vh;
    width: 75vh;
    margin: 20px auto;
    border-style: solid;
    border-width: 8px 20px;
    border-color: #f94555;
    border-radius: 5px;
    display: flex;
    flex-direction: column;    
}

.gridRow {
    display: flex;
    flex: 1;
}

.gridBox {
    flex: 1;
    background-color: #ffffff;
}

.gridBox:hover {
    background-color: #202020;
}
